Adafruit-Blinka==6.14.1
adafruit-circuitpython-hcsr04==0.4.6
adafruit-circuitpython-us100==1.1.5
Adafruit-PlatformDetect==3.15.3
Adafruit-PureIO==1.1.9
backports.entry-points-selectable==1.1.0
board==1.0
distlib==0.3.3
filelock==3.2.0
importlib-metadata==4.8.1
pbr==5.6.0
platformdirs==2.4.0
pyftdi==0.53.3
pyserial==3.5
pyusb==1.2.1
six==1.16.0
stevedore==3.4.0
typing-extensions==3.10.0.2
virtualenv==20.8.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.6
visualpython==1.1.13
zipp==3.6.0
gunicorn>=19.1.0